html,
body {
	margin: 0;
}

.group {
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-column-gap: 48px;
	padding: 24px;
	padding-top: 0;
}

.project__group {
	font-family: "Graphik Bold";
	font-weight: 700;
	font-size: 24px;
}